* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #eceff1;
}

body {
  overflow-x: hidden;
}

.center {
  max-width: 1100px;
  padding: 0 2%;
  margin: 0 auto;
}

.right {
  float: right;
}

/*box de erro*/

.erro-box {
  width: 100%;
  padding: 4px 2%;
  text-align: center;
  background: #f75353;
  color: white;
  font-size: 15px;
}

/*Fim pagina login*/

.clear {
  clear: both;
}

/* conteudo principal do painel */
/* .w100 {
  width: 100%;
}

.w50 {
  width: 48%;
} */

/* .left {
  float: left;
}

.right {
  float: right;
} */

/* .content {
  width: calc(100% - 300px);
  position: relative;
  left: 300px;
  padding: 10px;
} */

.items-menu {
  margin-top: 30px;
}

.items-menu h2 {
  text-align: left;
  font-weight: normal;
  font-size: 17px;
  background: #2f3d42;
  color: white;
  padding: 8px;
}

.items-menu a {
  display: block;
  padding: 8px;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid #2f3d42;
}

.box-content {
  width: 65%;
  margin: auto;
  position: relative;
  background: white;
  padding: 25px;
  margin-bottom: 20px;
}

.box-content h2 {
  font-weight: 300;
  font-size: 23px;
}

/*tabela*/

.wraper-table {
  overflow-x: auto;
}

table {
  font-weight: 300;
  min-width: 900px;
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-of-type(1) {
  background: #00bfa5;
  color: white;
}

table td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}

table a.btn {
  font-size: 13px;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
}

.edit {
  background: #f4b03e;
}
.delete {
  background: #e05c4e;
}

a.btn.order {
  background: #0091ea;
}

/*paginação*/

.paginacao {
  margin: 20px 0;
  text-align: center;
}

.paginacao a {
  font-size: 14px;
  margin: 0 8px;
  display: inline-block;
  padding: 3px 4px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #666;
}

.paginacao a.page-selected {
  background: rgb(220, 220, 220);
}

/*Box Metricas*/

.box-metricas {
  margin-top: 16px;
  padding: 0 15px;
}

.box-metrica-single {
  float: left;
  position: relative;
  width: 33.3%;
  background: #00bfa5;
  border: 5px solid white;
}

.box-metricas .box-metrica-single:nth-of-type(2) {
  background: #e05c4e;
}

.box-metricas .box-metrica-single:nth-of-type(3) {
  background: #0091ea;
}

.box-metrica-wraper {
  padding: 10px 20px;
  text-align: left;
  color: white;
}

.box-metrica-wraper h2 {
  font-size: 28px;
}

.box-metrica-wraper p {
  padding: 10px 0;
  font-size: 26px;
}

/*tabela responsiva*/

.table-responsive {
  max-width: 1280px;
  margin: 20px auto;
}

.table-responsive .row:nth-of-type(1) {
  background: #00bfa5;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.table-responsive .row {
  color: #777;
  padding: 8px 0;
}

.col {
  float: left;
  width: 30%;
}

.box-content form {
  margin: 30px 0;
}

.box-content form label {
  font-size: 17px;
  font-weight: 300;
  color: black;
  display: block;
}

.box-content .form-group {
  margin: 15px 0;
}

.box-content form input[type="text"],
.box-content form input[type="password"] {
  margin-top: 8px;
  font-size: 16px;
  font-weight: normal;
  color: black;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  padding-left: 8px;
}

.box-content form textarea {
  margin-top: 8px;
  font-size: 16px;
  font-weight: normal;
  color: black;
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
  padding: 8px;
  resize: vertical;
}

.box-content form select {
  margin-top: 8px;
  font-size: 16px;
  font-weight: normal;
  color: black;
  width: 20%;
  height: 40px;
  border: 1px solid #ccc;
  padding-left: 8px;
}

.box-content form input[type="file"] {
  margin-top: 8px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

.box-content form input[type="submit"] {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-top: 8px;
  font-size: 16px;
  background: #00bfa5;
  color: white;
  border: 0;
}

/*Box de alert*/

.box-alert {
  text-align: center;
  width: 100%;
  padding: 8px 0;
}

.sucesso {
  background: #00e676;
  color: white;
}

.erro {
  background: #f75353;
  color: white;
}

.menu-active {
  background: #2b303a;
}

/* .menu-active::before {
  content: "> ";
} */

.form-group-login label {
  font-size: 13px;
  padding-right: 6px;
  font-weight: 300;
  color: black;
}

form .form-group-login:nth-of-type(2) {
  position: relative;
  top: 10px;
}

@media screen and (max-width: 1024px) {
  .box-metrica-single {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    left: 0;
  }

  header {
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .w50 {
    width: 100%;
  }
  .box-single-metrica {
    width: 100%;
    padding-top: 40%;
  }
}

@media screen and (max-width: 400px) {
  .menu-wraper {
    width: 200px;
  }
}

@media screen and (max-width: 400px) {
  .box-metrica-wraper h2 {
    font-size: 24px;
  }

  .box-metrica-wraper p {
    padding: 10px 0;
    font-size: 22px;
  }

  .menu-wraper {
    width: 200px;
  }
}

@media screen and (max-width: 380px) {
  .items-menu a {
    font-size: 15px;
  }
}

/*Portal de noticia/////////////////////////////////////////////////////////////////////;;;;;;;;;;;;;;;;*/

header {
  padding: 20px 0;
  background: #262a33;
}

header .logo {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}

.text-center {
  text-align: center;
}

.center {
  max-width: 1100px;
  padding: 0 2%;
  margin: 0 auto;
}

.w33 {
  width: 33.3%;
  padding: 0 10px;
}

.w50 {
  padding: 0 10px;
  width: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.mobile {
  display: none;
}

nav.desktop ul {
  list-style-type: none;
}

nav.desktop li {
  font-size: 15px;
  padding: 0 5px;
  margin: 20px;
  text-transform: uppercase;
  display: inline-block;
}

nav.desktop a {
  padding: 10px;
  color: white;
  text-decoration: none;
}

nav.desktop a:hover {
  text-decoration: underline;
  background-color: #303540;
  border-radius: 6px;
}

.header-noticias {
  width: 100%;
  background: #2b303a;
  padding: 40px 0;
}

.header-noticias h2:nth-of-type(1) {
  font-size: 31px;
}

.header-noticias h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

.header-noticias h2 > b {
  color: #0ad3ff;
}

section.container-portal {
  padding: 50px 0;
}

.sidebar {
  float: left;
  width: 30%;
}

.box-content-sidebar {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 15px;
  background: #dddddd;
  padding: 15px;
  color: #2b303a;
}

.box-content-sidebar h3 {
  font-size: 18px;
  font-weight: normal;
}

.box-content-sidebar input[type="text"] {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(220, 220, 220);
  padding-left: 8px;
  margin: 10px 0;
}

.box-content-sidebar select {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(220, 220, 220);
  padding-left: 8px;
  margin: 10px 0;
}

.box-content-sidebar input[type="submit"] {
  cursor: pointer;
  background: #0ad3ff;
  color: white;
  width: 115px;
  height: 35px;
  font-weight: bold;
  margin: 10px 0;
  border: 0;
}

.autor-box-portal {
  margin-top: 10px;
  text-align: center;
}

.autor-box-portal h3,
.autor-box-portal p {
  color: #646464;
}

.autor-box-portal p {
  font-size: 14px;
  margin-top: 8px;
  font-weight: lighter;
}

.conteudo-portal {
  float: left;
  width: 70%;
  padding-left: 50px;
}

.header-conteudo-portal {
  color: #333864;
}

.header-conteudo-portal h2 {
  font-size: 23px;
}

.header-conteudo-portal h2 > span {
  border-top: 4px solid #333864;
}

.box-single-conteudo {
  margin: 15px 0;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.box-single-conteudo h2 {
  color: #646466;
  font-weight: normal;
  font-size: 22px;
}

.box-single-conteudo p {
  color: #646464;
  font-weight: normal;
  font-size: 15px;
  margin-top: 8px;
}

.box-single-conteudo a {
  background: #a31621;
  display: block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0 3px;
  font-size: 15px;
  margin-top: 8px;
  text-decoration: none;
  color: white;
}

.paginator {
  text-align: center;
}

.paginator a {
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  padding: 6px 4px;
  border: 1px solid rgb(220, 220, 220);
  color: rgb(100, 100, 100);
}

.paginator a.active-page {
  background: rgb(220, 220, 220);
}

.conteudo-portal {
  float: left;
  width: 70%;
  padding-left: 50px;
}

.header-conteudo-portal {
  color: #333864;
}

.header-conteudo-portal h2 {
  font-size: 23px;
}

.header-conteudo-portal h2 > span {
  border-top: 4px solid #333864;
}
